div.card {
  border-radius: var(--wdg-border-radius);
  padding: var(--wdg-padding);
  transition: all 0.3s;
  height: 100%;
  box-shadow: 0 0 0 1px var(--wdg-grey-color);
  &:hover {
    box-shadow: 3px 5px 30px 0 rgb(0 0 0 / 15%);
    transform: scale(1.03);
  }
  div.logo-container {
    margin: 1rem -1rem;
    background: var(--wdg-primary-color);
    padding: 0.5rem;
  }
  div.value {
    padding: var(--wdg-padding) 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
  }
}
