<wdg-page-container>
  <div class="wdg-centered">
    <p>Ce n'est pas la page que vous recherchez...</p><br>
    <img src="assets/images/obi-wan-404.png" alt="Page non trouvée">
  </div>
</wdg-page-container>
