@use '../../../mixins.scss' as *;
header {
  // border-bottom: 2px solid var(--wdg-light-grey-color);
  background: #fff;
  box-shadow: var(--wdg-box-shadow);
  div.wdg-container {
    @include grid(2);
    grid-template-columns: 150px 1fr;
    align-items: center;
    svg {
      &:hover {
        cursor: pointer;
      }
    }
    nav {
      list-style-type: none;
      text-align: right;
      li {
        display: inline-block;
        padding: 0 0.5rem;
        border-left: 1px solid var(--wdg-text-color);
        span:hover {
          cursor: pointer;
        }
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
