<wdg-page-container>
  <h1>Bienvenue sur le challenge front-end Wedoogift d'Antoine Nassif</h1>
  <div class="wdg-block">
    <h2>Au sujet des 3 exercices</h2>
    <p>Les deux premiers exercices ont été réalisés avec le même composant <strong><em>AmountComponent</em></strong>.<br>Vous pouvez y accéder sur la page <a routerLink="/purchase">Level 1 & 2</a>.</p>
    <p>Pour le troisième exercice j'ai dupliqué le composant précédent sous le nom <strong><em>AmountFormControlComponent</em></strong> avant d'effectuer la refacto.<br>Vous pouvez y accéder sur la page <a routerLink="/purchase-level-3">Level 3</a>.</p>
    <h2>Note sur les tests</h2>
    <p>Je n'ai pas mis en place de tests unitaires, mais des tests d'intégration réalisés avec l'outil Cypress.</p>
    <p>Pour lancer les tests, après avoir démarré l'api et l'application Angular, executez la commande suivante à la racine de l'application <strong><em>calculator-ui</em></strong> :</p>
    <pre>npm run cypress:open</pre>
    <p>La fenêtre suivante devrait apparaître :</p>
    <img src="assets/images/cypress-screen.jpg" alt="cypress">
    <p>Cliquez sur <strong><em>Run 2 integration specs</em></strong> pour lancer les tests.</p>
  </div>
</wdg-page-container>
