<div class="amount-form-control wdg-block no-shadow" [ngClass]="{disabled}">
  <div class="amount-form" [formGroup]="amountForm">
    <mat-form-field>
      <mat-label>Tapez ici le montant désiré</mat-label>
      <input matInput type="number" formControlName="amount">
      <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>
    <div class="btn-container">
      <wdg-button size="medium" (click)="submitAmountForm()">Rechercher</wdg-button>
      <wdg-button size="medium" (click)="selectPrevCombination()">-</wdg-button>
      <wdg-button size="medium" (click)="selectNextCombination()">+</wdg-button>
    </div>
  </div>
  <ng-container *ngIf="combinations">
    <wdg-cards
      *ngIf="combinations.equal; else notEqual"
      label="Votre montant est composé des cartes suivantes :"
      [combination]="combinations.equal"
    ></wdg-cards>
    <ng-template #notEqual>
      <p>Il n'est pas possible d'atteindre le montant demandé avec les cartes actuellement à disposition.<br>
      Voici le ou les montants approchants que vous pouvez atteindre :</p>
      <wdg-cards
        *ngIf="combinations.floor"
        [label]="'Montant inférieur le plus proche : ' + combinations.floor.value + ' €'"
        [combination]="combinations.floor"
        [displaySelectBtn]="true"
        (selectAmount)="updateAmount($event)"
      ></wdg-cards>
      <wdg-cards
        *ngIf="combinations.ceil"
        [label]="'Montant supérieur le plus proche : ' + combinations.ceil.value + ' €'"
        [combination]="combinations.ceil"
        [displaySelectBtn]="true"
        (selectAmount)="updateAmount($event)"
      ></wdg-cards>
    </ng-template>
  </ng-container>
</div>
