@use '../../../mixins.scss' as *;
div.amount-form-control {
  div.amount-form {
    @include grid(2);
    grid-template-columns: 1fr 3fr;
    align-items: center;
    font-size: 1.2rem;
    div.btn-container {
      wdg-button {
        margin-right: 1px;
      }
    }
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
