<div class="cards wdg-block no-shadow">
  <h2 *ngIf="label" [innerText]="label"></h2>
  <div class="list">
    <wdg-card *ngFor="let card of combination.cards" [value]="card"></wdg-card>
  </div>
  <wdg-button *ngIf="displaySelectBtn" (click)="selectAmount.emit(combination.value)">Sélectionner {{combination.value}} €</wdg-button>
</div>
