@use '../../../mixins.scss' as *;

:host {
  display: block;
  padding-bottom: var(--wdg-padding);
}

div.cards {
  wdg-button {
    float: right;
  }
  div.list {
    @include grid(3);
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
