button {
  padding: 0.4rem 0.9rem;
  background: var(--wdg-primary-color);
  border: none;
  color: #fff;
  &.medium {
    padding: 0.6rem 1.35rem;
    font-size: 1.2rem;
  }
  &.big {
    padding: 0.8rem 1.8rem;
    font-size: 1.5rem;
  }
  &:hover {
    cursor: pointer;
  }
  &[disabled] {
    background: var(--wdg-grey-color);
    &:hover {
      cursor: not-allowed;
    }
  }
}
