/* You can add global styles to this file, and also import other style files */

// ++++++++++++++++++++++++++++++++++++ //
// CSS VARIABLES (for theming)
// ++++++++++++++++++++++++++++++++++++ //
:root {
  // Global variables
  --wdg-primary-color: #CC292C;
  --wdg-secondary-color: #133576;
  --wdg-text-color: #1A1A1A;
  --wdg-grey-color: #e1e1e1;
  --wdg-light-grey-color: #f7f7f7;
  --wdg-padding: 1rem;
  --wdg-border-radius: 0.9rem;
  --wdg-success-color: #28a745;
  --wdg-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

// ++++++++++++++++++++++++++++++++++++ //
// GLOBAL STYLES
// ++++++++++++++++++++++++++++++++++++ //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--wdg-text-color);
}

html, body {
  height: 100%;
  background: var(--wdg-light-grey-color);
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

pre {
  display: inline-block;
  background: var(--wdg-grey-color);
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

// ++++++++++++++++++++++++++++++++++++ //
// UTILITY CLASSES
// ++++++++++++++++++++++++++++++++++++ //
.wdg-container {
  padding: var(--wdg-padding);
  margin: auto;
  max-width: 1400px;
}

.wdg-centered {
  text-align: center;
}

.wdg-align-right {
  text-align: right;
}

.wdg-block {
  box-shadow: var(--wdg-box-shadow);
  padding: var(--wdg-padding);
  margin-bottom: 1rem;
  background: #fff;
  &:last-child {
    margin-bottom: 0;
  }
  &.no-shadow {
    box-shadow: none;
    border: 2px solid var(--wdg-light-grey-color);
  }
}

.wdg-btn {
  padding: 0.4rem 0.9rem;
  background: var(--wdg-primary-color);
  border: none;
  color: #fff;
}

.wdg-error-snackbar {
  background-color: var(--wdg-primary-color) !important;
  span.mat-simple-snack-bar-content {
    color: #fff !important;
  }
}

.wdg-success-snackbar {
  background-color: var(--wdg-success-color) !important;
  span.mat-simple-snack-bar-content {
    color: #fff !important;
  }
}
