<wdg-page-container>
  <h1>Effectuez vos achats sur WedooStore (Level 3)</h1>
  <div class="wdg-block">
    <wdg-button size="small" (click)="toggleAmountFormControlDisable()">Activer/Désactiver le formControl</wdg-button>
    <ng-container [formGroup]="purchaseForm">
      <wdg-amount-form-control [shopId]="shopId" formControlName="amount"></wdg-amount-form-control>
    </ng-container>
    <div class="wdg-align-right">
      <wdg-button size="medium" (click)="submitPurchaseForm()" [disabled]="!purchaseForm.valid">Valider votre montant</wdg-button>
    </div>
  </div>
</wdg-page-container>
